*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 30%;
    top: 0;
    left: 0;
    padding: 20px 5px;
    align-items: center;
}
.container p{
    padding-left:20px;
    margin: 20px;
    justify-content: space-around;
    display: inline-block;
    font-size: 0.7em;
    
}
hr{
    width: 100%;
    color: lightslategrey;
}

.container{
    width: 100%;
    height: 30%;
    top: 0;
    left: 0;
    padding: 20px 5px;
}
.text-logo{
    padding: 10px;
    margin: 10px;
}
.text-logo span{
    padding: 10px;
    margin: 10px;
    color: darkorange;
    font-size: 2em;
    font-weight: bold;
}
/*-----navbar----*/
.nav-bar{
    padding: 20px;
    margin: 10px;
    }
.nav-bar ul{
    justify-content: space-between;
    text-align: center;
    list-style: none;
    text-decoration: none;
    display: inline-flex;
    
}
.nav-bar li a{
    
    padding-left:20px;
    margin: 20px;
    text-align: end;
    display: inline-flex;
    font-size: 1em;
    list-style: none;
    text-decoration: none;
    
}
/*-----section1----*/

.image-container {
    position: relative;
    width: 100%;
    height: 100%;
     
  }

    .text-overlay {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    color: white;
    font-size: 18px; 
    padding-top: 300px;
    padding-left: 40px;
    
  }
  .text-overlay button{
    font-size:0.8em;
  }
  .text-overlay h1{
    
    margin: 10px;
    font-weight: bolder;
    font-size :3em;
    font-family:Arial, Helvetica, sans-serif;
   
  }
  
  .text-overlay p{
    padding-left: 150px;
    margin: 10px;
    font-weight: bolder;
    font-size :3em;
    font-family:Arial, Helvetica, sans-serif;
  }
  /*-----section2----*/

  .parent{
    position: relative;
    top: 0;
    left: 0;
  }
  .wrapper{
    width: max-content;
    margin: 0;
    column-count: 3;
    column-gap: 20px;
  }
  .item{
    background-color:#fff;
    border: 1px hsl(0, 0%, 90%) solid;
    box-shadow: 2px 3px 4px 5px hsl(0, 0%, 90%);
    width: 300px;
    margin-bottom: 20px;
    padding: 15px;
    overflow: auto;
  }
  
  .item-text{
    background-color:#f1f1fe;
    border: 1px hsl(0, 0%, 90%) solid;
    width: 400px;
    height: 330px;
    margin-bottom: 20px;
    border-radius: 7px;
    padding: 15px;
    overflow: auto;
  }
  .item-text h5{
    color:#ec8004 ;
    font-size: 1.4em;
  }
  
  .item-text h6{
    color:#000 ;
    font-size: 1.4em;
  }

  .item-text p{
    color:#000 ;
    font-size: 0.7em;
    font-size: 1.4em;
    font-weight: 500;
    text-align: left;
  }

/*-----section3----*/


.container{
    width: 100%;
    height: 30%;
    top: 0;
    left: 0;
    padding: 20px 5px;
}
.text-container h6{
    color: #ec8004;
    font-size: 1.2em;
    position: absolute;
    left: 38rem;
    font-size: 0.7em;
    top: 5rem;
    padding: 0 1rem;
}

.text-container h2{
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
    position: absolute;
    left: 30rem;
    top: 6.8rem;
    font-size: 2.5em;
    padding: 0 1rem;
}
/*-----section4----*/

.container{
  width: 100%;
  height: 30%;
  top: 0;
  left: 0;
  padding: 20px 5px;
}
.text-content{
  padding: 10px;
  margin: 10px;

}
.text-content p{
  color: #ec8004;
  font-size: 1em;
  float: left;
  font-weight: bold;
}
.text-content h5{
  padding-left: 35px;
  padding-top: 50px;
  font-weight: bold;
  font-size: 1.9em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.btn{
  background-color: #000;
  color: #fff;
  float: inline-end;
  
}
.item-wrapper{
  padding-top: 10px;
  text-align: start;
  line-height:1px;

}
.text-wrapper h6{
  font-size: 0.5em;
}
/*-----section5----*/
.container-5{
  width: 100%;
  padding: 10x;
  margin: 10px;
}
.container-5 p{
  color: #d44705;
  text-align: center;
  font-size: 0.7em;
  font-weight: bold;
}.container-5 h3{
  text-align: center;
  font-weight: bolder;
  font-size: 1.5em;
  
}
.cell-text button{
  width: 250px;
  height: 50px;
  background-color: #000;
  color: #fff;
  border-radius: 30px;
  font-size: 1.3em;
  font-weight: 500;
}


/*-----section 6----*/

.container {
  position: relative;
  text-align: center;
}
.banner{
  position: relative;
  width: 100%;
  margin: 0 auto;
}
.banner image {
  width: 100%;
  height: auto;
  display: block;
}
.banner h3{
  position: absolute;
  top: 30%;
  text-align: center;
  widows: 100%;
  padding-left: 700px;
}

.banner p{
  position: absolute;
  top: 35%;
  text-align: center;
  widows: 100%;
  color: #fff;
  font-size: 2.5em;
  font-weight: bold;
}
form {
  max-width: 600px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="submit"] {
  background-color: #000;
  color: #fff;
  cursor: pointer;
  border-radius: 30px;
  float: left;
  width: 150px;
}



























   

